body {
  cursor: url('/Users/charles/Documents/CCA/3rd Year/Interactive 2/Sketches/assets/css/Cursor2.png'), default;
}


.stage {
  width: 39.5em;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

div[class^="LetterBox"] {
	float: left;
}

div[class^="PUNCBOX"] {
	float: left;
}

.PUNCBOX1 {
	width: 1.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.COMMA{
    box-shadow: 0em 8em 0 0.5em, 0em 9em 0 0.5em, -1em 10em 0 0.5em;
    width: 0;
    height: 0;
}

.PUNCBOX2 {
	width: 1.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.PERIOD {
    box-shadow: 0em 8em 0 0.5em;
    width: 0;
    height: 0;
}

.PUNCBOX3 {
	width: 1.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}

.EXCLAMATION {
    box-shadow: inset 0em 0em 0 0.5em, 0em 1em 0 0.5em, 1em 1em 0 0.5em, 0em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 0em 8em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 0em 0 0.5em;
    width: 0;
    height: 0;
}

.PUNCBOX4 {
	width: 3.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.QUESTION {
  box-shadow: inset 0em 0em 0 0.5em, 0em 1em 0 0.5em, 1em 0em 0 0.5em, 1em 1em 0 0.5em, 2em 0em 0 0.5em, 2em 1em 0 0.5em, 3em 1em 0 0.5em, 0em 2em 0 0.5em, 2em 2em 0 0.5em, 3em 2em 0 0.5em, 2em 3em 0 0.5em, 3em 3em 0 0.5em, 2em 4em 0 0.5em, 3em 4em 0 0.5em, 2em 5em 0 0.5em, 1em 5em 0 0.5em, 1em 6em 0 0.5em, 1em 8em 0 0.5em;
  width: 0;
  height: 0;
}

.PUNCBOX5 {
  width: 1.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.COLON {
  box-shadow: 0em 8em 0 0.5em, 0em 4em 0 0.5em;
  width: 0;
  height: 0;
}

.PUNCBOX6 {
  width: 1.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.SEMICOLON {
  box-shadow: 0em 8em 0 0.5em, 0em 4em 0 0.5em, 0em 9em 0 0.5em, -1em 10em 0 0.5em;
  width: 0;
  height: 0;
}




.LetterBoxA {
	width: 4.5em;
  height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterA {
  box-shadow: inset 0em 0em 0 0.5em, inset 0em 1em 0 0.5em, 2em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 2em 3em 0 0.5em, 3em 3em 0 0.5em, 1em 4em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 2em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 4em 6em 0 0.5em, 3em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 2em 7em 0 0.5em, 3em 7em 0 0.5em, 4em 7em 0 0.5em, 1em 8em 0 0.5em, 4em 8em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxB {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterB {
	box-shadow: inset 0em 0em 0 0.5em, 0em 1em 0 0.5em, 0em 2em 0 0.5em, 1em 0em 0 0.5em, 1em 1em 0 0.5em, 1em 2em 0 0.5em, 0em 3em 0 0.5em, 1em 3em 0 0.5em, 2em 3em 0 0.5em, 3em 2em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 1em 5em 0 0.5em, 0em 5em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 2em 7em 0 0.5em, 2em 8em 0 0.5em, 3em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 3em 6em 0 0.5em, 4em 6em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxC {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterC {
box-shadow: inset 0em 0em 0 0.5em, inset 0em 1em 0 0.5em, 2em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 2em 3em 0 0.5em, 3em 3em 0 0.5em, 1em 4em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 2em 8em 0 0.5em, 1em 7em 0 0.5em, 2em 7em 0 0.5em, 3em 7em 0 0.5em, 4em 6em 0 0.5em, 3em 6em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxD {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterD {
  box-shadow: inset 0em 0em 0 0.5em, 1em 0em 0 0.5em, 1em 1em 0 0.5em, 2em 1em 0 0.5em, 2em 2em 0 0.5em, 3em 2em 0 0.5em, 1em 3em 0 0.5em, 2em 3em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 1em 5em 0 0.5em, 0em 5em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 3em 6em 0 0.5em, 4em 6em 0 0.5em, 1em 7em 0 0.5em, 2em 7em 0 0.5em, 3em 7em 0 0.5em, 2em 8em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxE {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterE {
	box-shadow: inset 0em 0em 0 0.5em, inset 0em 1em 0 0.5em, 2em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 2em 3em 0 0.5em, 3em 3em 0 0.5em, 1em 4em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 2em 8em 0 0.5em, 1em 7em 0 0.5em, 2em 7em 0 0.5em, 3em 7em 0 0.5em, 4em 6em 0 0.5em, 3em 5em 0 0.5em, 2em 6em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxF {
	width: 3.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterF {
  box-shadow: inset 0em 0em 0 0.5em, 0em 1em 0 0.5em, 1em 0em 0 0.5em, 1em 1em 0 0.5em, 2em 0em 0 0.5em, 3em 0em 0 0.5em, 3em 1em 0 0.5em, 0em 2em 0 0.5em, 1em 2em 0 0.5em, 0em 3em 0 0.5em, 1em 3em 0 0.5em, 2em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxG {
	width: 4.5em;
  height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterG {
	box-shadow: inset 0em 0em 0 0.5em, inset 0em 1em 0 0.5em, 2em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 2em 3em 0 0.5em, 3em 3em 0 0.5em, 1em 4em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 8em 0 0.5em, 1em 7em 0 0.5em, 2em 7em 0 0.5em, 3em 7em 0 0.5em, 4em 6em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 3em 6em 0 0.5em, 1em 8em 0 0.5em, 3em 8em 0 0.5em, 4em 7em 0 0.5em, 4em 8em 0 0.5em, 1em 9em 0 0.5em, 3em 9em 0 0.5em, 2em 9em 0 0.5em, 2em 10em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxH {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterH {
  box-shadow: inset 0em 0em 0 0.5em, 0em 1em 0 0.5em, 0em 2em 0 0.5em, 1em 0em 0 0.5em, 1em 1em 0 0.5em, 1em 2em 0 0.5em, 0em 3em 0 0.5em, 1em 3em 0 0.5em, 2em 3em 0 0.5em, 3em 2em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 1em 5em 0 0.5em, 0em 5em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 3em 7em 0 0.5em, 0em 8em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 3em 6em 0 0.5em, 4em 6em 0 0.5em, 4em 7em 0 0.5em, 3em 8em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxI {
  width: 1.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterI {
  box-shadow: inset 0em 0em 0 0.5em, 0em 1em 0 0.5em, 1em 1em 0 0.5em, 0em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxJ {
	width: 1.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterJ {
  box-shadow: inset 0em 0em 0 0.5em, 0em 1em 0 0.5em, 1em 1em 0 0.5em, 0em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em, 1em 8em 0 0.5em, 0em 9em 0 0.5em, -1em 10em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxK {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterK {
  box-shadow: inset 0em 0em 0 0.5em, 0em 1em 0 0.5em, 1em 1em 0 0.5em, 0em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 0em 0 0.5em, 2em 5em 0 0.5em, 3em 5em 0 0.5em, 3em 6em 0 0.5em, 3em 7em 0 0.5em, 3em 8em 0 0.5em, 4em 6em 0 0.5em, 4em 7em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 4em 2em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxL {
	width: 1.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterL {
  box-shadow: inset 0em 0em 0 0.5em, 0em 1em 0 0.5em, 1em 1em 0 0.5em, 0em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 0em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxM {
	width: 7.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterM {
	box-shadow: inset 0em 0em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em, 2em 3em 0 0.5em, 3em 2em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 3em 6em 0 0.5em, 4em 6em 0 0.5em, 4em 7em 0 0.5em, 3em 7em 0 0.5em, 3em 8em 0 0.5em, 5em 3em 0 0.5em, 6em 2em 0 0.5em, 6em 3em 0 0.5em, 7em 3em 0 0.5em, 6em 4em 0 0.5em, 7em 4em 0 0.5em, 6em 5em 0 0.5em, 7em 5em 0 0.5em, 6em 6em 0 0.5em, 7em 6em 0 0.5em, 6em 7em 0 0.5em, 7em 7em 0 0.5em, 6em 8em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxN {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterN {
	box-shadow: inset 0em 0em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em, 2em 3em 0 0.5em, 3em 2em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 3em 6em 0 0.5em, 4em 6em 0 0.5em, 4em 7em 0 0.5em, 3em 7em 0 0.5em, 3em 8em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxO {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterO {
  box-shadow: inset 0em 0em 0 0.5em, inset 0em 1em 0 0.5em, 2em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 2em 3em 0 0.5em, 3em 3em 0 0.5em, 1em 4em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 2em 8em 0 0.5em, 1em 7em 0 0.5em, 2em 7em 0 0.5em, 3em 7em 0 0.5em, 4em 6em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 3em 6em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxP {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterP {
  box-shadow: inset 0em 0em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em, 2em 3em 0 0.5em, 3em 2em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 3em 6em 0 0.5em, 4em 6em 0 0.5em, 4em 7em 0 0.5em, 3em 7em 0 0.5em, 3em 8em 0 0.5em, 2em 7em 0 0.5em, 1em 8em 0 0.5em, 0em 9em 0 0.5em, 1em 9em 0 0.5em, 0em 10em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxQ {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterQ {
	box-shadow: inset 0em 0em 0 0.5em, inset 0em 1em 0 0.5em, 2em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 2em 3em 0 0.5em, 3em 3em 0 0.5em, 1em 4em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 1em 8em 0 0.5em, 1em 7em 0 0.5em, 2em 7em 0 0.5em, 3em 7em 0 0.5em, 4em 6em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 3em 6em 0 0.5em, 0em 7em 0 0.5em, 4em 7em 0 0.5em, 3em 8em 0 0.5em, 4em 8em 0 0.5em, 3em 9em 0 0.5em, 4em 9em 0 0.5em, 4em 10em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxR {
	width: 3.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterR {
	box-shadow: inset 0em 0em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em, 2em 3em 0 0.5em, 3em 2em 0 0.5em, 3em 3em 0 0.5em, 3em 4em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxS {
	width: 3.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterS {
	box-shadow: inset 0em 0em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 2em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 2em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em, 2em 3em 0 0.5em, 3em 2em 0 0.5em, 3em 3em 0 0.5em, 3em 4em 0 0.5em, 3em 6em 0 0.5em, 2em 7em 0 0.5em, 2em 8em 0 0.5em, 3em 7em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxT {
	width: 2.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterT {
  box-shadow: inset 0em 0em 0 0.5em, 0em 1em 0 0.5em, 1em 1em 0 0.5em, 0em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 1em 8em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 0em 0 0.5em, 2em 7em 0 0.5em, 2em 3em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxU {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterU {
  box-shadow: inset 0em 0em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 1em 8em 0 0.5em, 2em 7em 0 0.5em, 4em 2em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 3em 6em 0 0.5em, 4em 6em 0 0.5em, 4em 7em 0 0.5em, 3em 7em 0 0.5em, 4em 8em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxV {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterV {
	box-shadow: inset 0em 0em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 1em 7em 0 0.5em, 2em 7em 0 0.5em, 4em 2em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 3em 6em 0 0.5em, 4em 6em 0 0.5em, 3em 7em 0 0.5em, 2em 8em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxW {
	width: 7.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterW {
  box-shadow: inset 0em 0em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 1em 7em 0 0.5em, 2em 7em 0 0.5em, 4em 2em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 3em 6em 0 0.5em, 4em 6em 0 0.5em, 3em 7em 0 0.5em, 2em 8em 0 0.5em, 4em 7em 0 0.5em, 5em 8em 0 0.5em, 5em 7em 0 0.5em, 6em 7em 0 0.5em, 6em 6em 0 0.5em, 7em 6em 0 0.5em, 6em 5em 0 0.5em, 7em 5em 0 0.5em, 6em 4em 0 0.5em, 7em 4em 0 0.5em, 6em 3em 0 0.5em, 7em 3em 0 0.5em, 7em 2em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxX {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterX {
	box-shadow: inset 0em 0em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 2em 5em 0 0.5em, 3em 5em 0 0.5em, 3em 6em 0 0.5em, 3em 7em 0 0.5em, 3em 8em 0 0.5em, 4em 6em 0 0.5em, 4em 7em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 4em 2em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxY {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterY {
  box-shadow: inset 0em 0em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 1em 4em 0 0.5em, 0em 5em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 1em 7em 0 0.5em, 1em 8em 0 0.5em, 2em 7em 0 0.5em, 4em 2em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 3em 5em 0 0.5em, 4em 5em 0 0.5em, 3em 6em 0 0.5em, 4em 6em 0 0.5em, 4em 7em 0 0.5em, 3em 7em 0 0.5em, 4em 8em 0 0.5em, 3em 8em 0 0.5em, 0em 8em 0 0.5em, 1em 9em 0 0.5em, 2em 9em 0 0.5em, 3em 9em 0 0.5em, 2em 10em 0 0.5em;
	width: 0;
	height: 0;
}

.LetterBoxZ {
	width: 4.5em;
	height: 10.5em;
	padding: .5em 1em 1em .5em;
	position: relative;
}
.LetterZ {
	box-shadow: inset 0em 0em 0 0.5em, 1em 3em 0 0.5em, 0em 4em 0 0.5em, 2em 3em 0 0.5em, 1em 5em 0 0.5em, 0em 6em 0 0.5em, 1em 6em 0 0.5em, 0em 7em 0 0.5em, 1em 7em 0 0.5em, 0em 8em 0 0.5em, 0em 3em 0 0.5em, 1em 2em 0 0.5em, 2em 5em 0 0.5em, 3em 5em 0 0.5em, 2em 7em 0 0.5em, 3em 7em 0 0.5em, 3em 8em 0 0.5em, 4em 6em 0 0.5em, 4em 7em 0 0.5em, 3em 4em 0 0.5em, 4em 4em 0 0.5em, 3em 3em 0 0.5em, 4em 3em 0 0.5em, 4em 2em 0 0.5em, 2em 8em 0 0.5em, 2em 2em 0 0.5em;
	width: 0;
	height: 0;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LetterBoxA:hover {
	-webkit-animation: spin 5s infinite; /* Safari 4+ */
-moz-animation:    spin 5s infinite; /* Fx 5+ */
-o-animation:      spin 5s infinite; /* Opera 12+ */
animation:         spin 5s infinite; /* IE 10+, Fx 29+ */
}
